.profile__name {
  color: white;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.143;
  margin: 0;
  grid-area: name;
  width: fit-content;
}



@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    text-align: center;
    padding-left: 16px;
  }
}
