.profile__info {
  grid-area: info;
  align-self: center;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) fit-content(24px);
  grid-template-areas: "name button"
                        "description description";

  row-gap: 16px;
  column-gap: 25px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    row-gap: 7px;
    grid-template-areas: "name button"
                        "description description";
    padding-bottom: 10px;
    margin: 0 auto;
  }

}
